@model MyFirstWebApp.Models.TodosListModel

@{
    ViewData["Title"] = "Index";
}

<h1> La page de Todos </h1>

<form method="post">
    <div>
        <label for="counter">Ceci est le counter:</label>
        <input type="number" id="counter" name="counter" value="@ViewData["Counter"]">
    </div>
    <div>
        <input type="submit" value="Set">
    </div>
</form>
<form asp-controller="Todos" asp-action="CounterInc" method="get">
    <input type="submit" value="Increase">
</form>
<p>
    Voici la valeur du counter: @ViewData["Counter"]
</p>
<p>
    <h3>Voici la liste des TODO de priorité 0</h3>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.todosList[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.todosList[0].etiquette)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.todosList[0].priority)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.todosList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.etiquette)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priority)
            </td>
        </tr>
}
    </tbody>
</table>